Phicomm-DC1/phicomm.json
[{"id":"869975f3.83ef68","type":"tcp in","z":"2d390cfb.9ba554","name":"","server":"server","host":"","port":"8000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":138,"y":93,"wires":[["2a117284.f35e1e","11cb9841.833128"]]},{"id":"ee86848d.4cdcd8","type":"tcp out","z":"2d390cfb.9ba554","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"响应TCP","x":533,"y":83,"wires":[]},{"id":"2a117284.f35e1e","type":"function","z":"2d390cfb.9ba554","name":"心跳","func":"const json = JSON.parse(msg.payload)\n\nlet uuid = ''\nconst is_first = json.action == 'activate='\nconst is_heart = json.msg == 'get datapoint success'\n\n// 如果是设备来注册\nif (json.action == 'activate=') {uuid = json.params.mac}\n// 如果是自己构造的uuid\nelse{uuid = json.uuid}\n\n// 如果请求类型是设备心跳或是设备激活\n// 并且是一个有效的uuid\nif((is_heart || is_first) && uuid.length == 17) {\n  node.status({text:`最后更新:${new Date().toLocaleTimeString('zh-cn',{timeZone: \"Asia/Chongqing\"})}`})\n  // node.warn(JSON.stringify(json))\n  msg.payload = `{\"action\":\"datapoint\",\"params\":{},\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  \n  // 通过定时器清理解决同一个请求被多次发出问题\n  clearTimeout(flow.get(`TIMER_${uuid}`))\n  // 延迟一秒发出\n  const timer = setTimeout(() => node.send(msg), 1000)\n  flow.set(`TIMER_${uuid}`, timer)\n}","outputs":1,"noerr":0,"x":333,"y":83,"wires":[["ee86848d.4cdcd8"]]},{"id":"fb80ee7e.33737","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"总开关","tooltip":"","group":"f4175e3.8c33ca","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:B7:99_0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":523,"y":258,"wires":[["a6acbfe4.36b7a"]]},{"id":"4947a732.635ec8","type":"comment","z":"2d390cfb.9ba554","name":"斐讯DC1内网NR帮助","info":"### 内网劫持\n\n使用dnsmasq劫持`smartplugconnect.phicomm.com`到你NodeRed所在IP\n\n```\naddress=/.smartplugconnect.phicomm.com/192.168.200.202\n```\n\n### WIFI配网\n\n#### 1、复位插座\n\n长按总开关,待闪烁\n\n#### 2、用wifi连接到dc1生成的无线节点\n\n#### 3、使用udp工具，我使用的是mac，所以用的工具是YTNetwork来做udp发包\n\n绑定ip为192.168.4.1\n绑定端口为7550\n\n#### 4、发udp包，内容如下，其中iOT是你家wifi名，1234567890改为你家wifi密码，记得这段json后面记得补一个回车\n```\n{\"header\":\"phi-plug-0001\",\"uuid\":\"identify291f\",\"action\":\"wifi=\",\"auth\":\"\",\"params\":{\"ssid\":\"iOT\",\"password\":\"1234567890\"}}\n```\n\n[教程](https://bbs.hassbian.com/thread-6726-1-1.html)","x":178,"y":38,"wires":[]},{"id":"90654245.b43fb","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"加湿器","tooltip":"","group":"f4175e3.8c33ca","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:B7:99_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":523,"y":303,"wires":[["a6acbfe4.36b7a"]]},{"id":"885750a3.635b7","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"威动盒子","tooltip":"","group":"f4175e3.8c33ca","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:B7:99_2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":533,"y":348,"wires":[["a6acbfe4.36b7a"]]},{"id":"66d348fe.5bd8f8","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"净化插座","tooltip":"","group":"f4175e3.8c33ca","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:B7:99_3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":533,"y":393,"wires":[["a6acbfe4.36b7a"]]},{"id":"d7500873.d17ed8","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"f4175e3.8c33ca","order":6,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":523,"y":438,"wires":[]},{"id":"e6d1f6ae.bf0ba8","type":"switch","z":"2d390cfb.9ba554","name":"分支判定","property":"uuid","propertyType":"msg","rules":[{"t":"eq","v":"DC:4F:22:04:B7:99","vt":"str"},{"t":"eq","v":"DC:4F:22:04:8E:7C","vt":"str"},{"t":"eq","v":"68:C6:3A:A5:9F:18","vt":"str"},{"t":"eq","v":"5C:CF:7F:55:E4:8F","vt":"str"},{"t":"eq","v":"84:F3:EB:55:74:5B","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":527,"y":174,"wires":[["71bdef0d.de36e"],["a200c178.2b5d3"],["5cea32f4.7487ec"],["57b6c2fd.99931c"],["408a16e4.648e58"],["bf4adcb3.c37e"]],"outputLabels":["主卧","书房","玄关","次卧","",""]},{"id":"11cb9841.833128","type":"function","z":"2d390cfb.9ba554","name":"下行","func":"const json = JSON.parse(msg.payload)\nconst is_heart = json.msg == 'get datapoint success'\n\n// 如果是心跳包\nif(is_heart) {\n  msg.payload = json\n  // 开关状态的二进制\n  msg.sw_2 = json.result.status\n  // 开关状态的十进制\n  msg.sw_10 = parseInt(msg.sw_2, 2)\n  // 设备的mac地址,利用原有uuid通道进行传递\n  msg.uuid = json.uuid\n  flow.set(`STATUS_${json.uuid}`, msg)\n  node.send(msg) \n}","outputs":1,"noerr":0,"x":333,"y":148,"wires":[["e6d1f6ae.bf0ba8","1be3eb0b.dfeea5"]]},{"id":"71bdef0d.de36e","type":"link out","z":"2d390cfb.9ba554","name":"主卧DC1-in","links":["707da420.a748ec"],"x":682.0000095367432,"y":53.000000953674316,"wires":[]},{"id":"707da420.a748ec","type":"link in","z":"2d390cfb.9ba554","name":"主卧DC1-out","links":["71bdef0d.de36e"],"x":98,"y":288,"wires":[["1765522e.32ce9e"]]},{"id":"1765522e.32ce9e","type":"function","z":"2d390cfb.9ba554","name":"主卧-数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"x":253,"y":288,"wires":[["fb80ee7e.33737"],["90654245.b43fb"],["885750a3.635b7"],["66d348fe.5bd8f8"],["d7500873.d17ed8"],["4027744f.3f3c1c"]]},{"id":"4027744f.3f3c1c","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"f4175e3.8c33ca","order":7,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":523,"y":483,"wires":[]},{"id":"a6acbfe4.36b7a","type":"join","z":"2d390cfb.9ba554","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":723,"y":258,"wires":[["add8e0e7.12a5f"]]},{"id":"bf4adcb3.c37e","type":"debug","z":"2d390cfb.9ba554","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":742.0000114440918,"y":213.00000286102295,"wires":[]},{"id":"a200c178.2b5d3","type":"link out","z":"2d390cfb.9ba554","name":"书房DC1-in","links":["f55ec66f.8bbd98"],"x":681.0000095367432,"y":89.00000190734863,"wires":[]},{"id":"d285d39f.ccfbd","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"总开关","tooltip":"","group":"519e1ae8.7b4764","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:8E:7C_0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":523,"y":548,"wires":[["9b7683e4.ea843"]]},{"id":"dc045959.26e328","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"开关一","tooltip":"","group":"519e1ae8.7b4764","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:8E:7C_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":523,"y":593,"wires":[["9b7683e4.ea843"]]},{"id":"e07719de.0cb1b8","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"XPS充电","tooltip":"","group":"519e1ae8.7b4764","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:8E:7C_2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":533,"y":638,"wires":[["9b7683e4.ea843"]]},{"id":"9d43bb42.c487c8","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"小米盒子","tooltip":"","group":"519e1ae8.7b4764","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"DC:4F:22:04:8E:7C_3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":533,"y":683,"wires":[["9b7683e4.ea843"]]},{"id":"5fdd9246.723f2c","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"519e1ae8.7b4764","order":5,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":523,"y":728,"wires":[]},{"id":"f55ec66f.8bbd98","type":"link in","z":"2d390cfb.9ba554","name":"书房DC1-out","links":["a200c178.2b5d3"],"x":98,"y":578,"wires":[["95d81420.d2e938"]]},{"id":"9c6a8c6e.36afe","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"519e1ae8.7b4764","order":6,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":523,"y":773,"wires":[]},{"id":"9b7683e4.ea843","type":"join","z":"2d390cfb.9ba554","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":723,"y":548,"wires":[["a509bead.e225c"]]},{"id":"add8e0e7.12a5f","type":"link out","z":"2d390cfb.9ba554","name":"斐讯DC1-控制in","links":["20e588e0.b96538"],"x":818,"y":258,"wires":[]},{"id":"19cb640d.edb5dc","type":"function","z":"2d390cfb.9ba554","name":"开关控制","func":"// 如果没有uuid过来说明是从开关控制过来的\nif (!msg.uuid) {\n  const uuid = msg.topic.split('_')[0]\n  const json = flow.get(`STATUS_${uuid}`)\n  let new_sw = json.sw_10\n  msg.payload.map(item => {\n    const [uuid, index] = item.topic.split('_')\n    const sw = item.payload\n    switch (parseInt(index, 10)) {\n      case 0:\n        new_sw = sw ? new_sw | 1 : new_sw & 14\n        break\n      case 1:\n        new_sw = sw ? new_sw | 2 : new_sw & 13\n        break\n      case 2:\n        new_sw = sw ? new_sw | 4 : new_sw & 11\n        break\n      case 3:\n        new_sw = sw ? new_sw | 8 : new_sw & 7\n        break\n    }\n  })\n  const new_status = new_sw.toString(2)\n  node.status({ text: `设置状态:${new_status}(${uuid})` })\n  json.payload = `{\"action\":\"datapoint=\",\"params\":{\"status\": ${new_status} },\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n  json.payload = `{\"action\":\"datapoint\",\"params\":{},\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n}","outputs":1,"noerr":0,"x":1023,"y":258,"wires":[["ea0134bc.3bd378"]]},{"id":"ea0134bc.3bd378","type":"tcp out","z":"2d390cfb.9ba554","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"控制TCP","x":1183,"y":258,"wires":[]},{"id":"a509bead.e225c","type":"link out","z":"2d390cfb.9ba554","name":"斐讯DC1-控制in","links":["20e588e0.b96538"],"x":818,"y":548,"wires":[]},{"id":"20e588e0.b96538","type":"link in","z":"2d390cfb.9ba554","name":"斐讯DC1-控制out","links":["a509bead.e225c","add8e0e7.12a5f","3ca152ff.a6acfe","798db3b7.427dbc","84eb1abb.19d448"],"x":908,"y":258,"wires":[["19cb640d.edb5dc"]]},{"id":"95d81420.d2e938","type":"function","z":"2d390cfb.9ba554","name":"书房-数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"x":253,"y":578,"wires":[["d285d39f.ccfbd"],["dc045959.26e328"],["e07719de.0cb1b8"],["9d43bb42.c487c8"],["5fdd9246.723f2c"],["9c6a8c6e.36afe"]]},{"id":"fbc70d79.6381c","type":"switch","z":"2d390cfb.9ba554","name":"根据MAC地址区分设备","property":"mac","propertyType":"msg","rules":[{"t":"eq","v":"B0F8931E218D","vt":"str"},{"t":"eq","v":"B0F8932249A4","vt":"str"},{"t":"eq","v":"B0F893225F11","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1799,"y":142,"wires":[["ba3564d.90a7798"],["dca5dd04.514f9"],["8389ff35.e54e7"]],"outputLabels":["主卧","客厅","次卧"]},{"id":"4f9d0a9b.ed5cd4","type":"link in","z":"2d390cfb.9ba554","name":"主卧M1 - out","links":["ba3564d.90a7798"],"x":1434,"y":472,"wires":[["c41a7c0.ad0fd88"]]},{"id":"2a8e933e.7f0f2c","type":"link in","z":"2d390cfb.9ba554","name":"客厅M1-out","links":["dca5dd04.514f9"],"x":1434,"y":292,"wires":[["f38bbb1.6d7dd48"]]},{"id":"72abc22f.fe264c","type":"ui_text","z":"2d390cfb.9ba554","group":"53849ee1.0611d","order":3,"width":"6","height":"1","name":"PM2.5","label":"PM2.5","format":"{{msg.payload}} μg/m³","layout":"row-spread","x":1979,"y":352,"wires":[]},{"id":"98dae582.665648","type":"ui_text","z":"2d390cfb.9ba554","group":"53849ee1.0611d","order":4,"width":"6","height":"1","name":"甲醛","label":"甲醛","format":"{{msg.payload}} mg/m³","layout":"row-spread","x":1979,"y":392,"wires":[]},{"id":"23b61394.6acc2c","type":"ui_text","z":"2d390cfb.9ba554","group":"beacf0b6.f1ec8","order":3,"width":"6","height":"1","name":"PM2.5","label":"PM2.5","format":"{{msg.payload}} μg/m³","layout":"row-spread","x":1979,"y":532,"wires":[]},{"id":"125adb53.5a8715","type":"ui_text","z":"2d390cfb.9ba554","group":"beacf0b6.f1ec8","order":4,"width":"6","height":"1","name":"甲醛","label":"甲醛","format":"{{msg.payload}} mg/m³","layout":"row-spread","x":1979,"y":572,"wires":[]},{"id":"10403644.498caa","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"53849ee1.0611d","order":1,"width":"3","height":"2","gtype":"gage","title":"温度","label":"°C","format":"{{value}}","min":"-50","max":"50","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"19","seg2":"26","x":1979,"y":272,"wires":[]},{"id":"27137a4a.ec1926","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"53849ee1.0611d","order":2,"width":"3","height":"2","gtype":"gage","title":"湿度","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0080ff","#0080c0","#000080"],"seg1":"40","seg2":"70","x":1979,"y":312,"wires":[]},{"id":"72df628b.a58adc","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"beacf0b6.f1ec8","order":1,"width":"3","height":"2","gtype":"gage","title":"温度","label":"°C","format":"{{value}}","min":"-50","max":"50","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"19","seg2":"26","x":1979,"y":452,"wires":[]},{"id":"ac21f3f4.2f61a","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"beacf0b6.f1ec8","order":2,"width":"3","height":"2","gtype":"gage","title":"湿度","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0080ff","#0080c0","#000080"],"seg1":"40","seg2":"70","x":1979,"y":492,"wires":[]},{"id":"1428bf96.985ab","type":"tcp in","z":"2d390cfb.9ba554","name":"","server":"server","host":"","port":"9000","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":1358.0000228881836,"y":96.00000095367432,"wires":[["b4b9de19.ace31","78fd3b6b.1e7ac4","55105eaa.6fa4c"]]},{"id":"b4b9de19.ace31","type":"function","z":"2d390cfb.9ba554","name":"上行","func":"const hex = Buffer.from(msg.payload)\n// node.warn(hex.toString('hex', 0, 23))\nmsg.payload = Buffer.from(`${hex.toString('hex', 0, 23)}00370000027b2274797065223a352c22737461747573223a317dff23454e4423`, 'hex')\nreturn msg\n","outputs":1,"noerr":0,"x":1609,"y":92,"wires":[["790f3fb3.c30d7"]]},{"id":"790f3fb3.c30d7","type":"tcp out","z":"2d390cfb.9ba554","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"响应TCP","x":1759,"y":92,"wires":[]},{"id":"78fd3b6b.1e7ac4","type":"function","z":"2d390cfb.9ba554","name":"下行","func":"const hex = Buffer.from(msg.payload)\nconst end_flag = Buffer.from('ff23454e4423', 'hex')\nif(hex.length > 50){\n  const json = JSON.parse(hex.toString('utf8', hex.indexOf(Buffer.from('{')), hex.indexOf(end_flag)))\n  const mac = hex.toString('hex', 17, 23).toUpperCase()\n  msg.payload = json\n  msg.mac = mac\n  node.send(msg)\n}","outputs":1,"noerr":0,"x":1609,"y":142,"wires":[["fbc70d79.6381c"]]},{"id":"55105eaa.6fa4c","type":"tcp request","z":"2d390cfb.9ba554","server":"10.0.0.88","port":"9900","out":"sit","splitc":" ","name":"HA","x":1609,"y":192,"wires":[["6bb2a7b9.59aed8"]]},{"id":"ba3564d.90a7798","type":"link out","z":"2d390cfb.9ba554","name":"主卧M1 - in","links":["4f9d0a9b.ed5cd4"],"x":1956,"y":101,"wires":[]},{"id":"dca5dd04.514f9","type":"link out","z":"2d390cfb.9ba554","name":"客厅M1-in","links":["2a8e933e.7f0f2c"],"x":1955,"y":139,"wires":[]},{"id":"f38bbb1.6d7dd48","type":"function","z":"2d390cfb.9ba554","name":"主卧-数据分组","func":"node.status({text: `最后更新:${new Date().toLocaleTimeString('zh-cn',{timeZone: \"Asia/Chongqing\"})}`})\nreturn [\n  {payload: msg.payload.temperature},\n  {payload: msg.payload.humidity},\n  {payload: msg.payload.value},\n  {payload: msg.payload.hcho}\n]","outputs":4,"noerr":0,"x":1639,"y":292,"wires":[["10403644.498caa"],["27137a4a.ec1926"],["72abc22f.fe264c"],["98dae582.665648"]]},{"id":"c41a7c0.ad0fd88","type":"function","z":"2d390cfb.9ba554","name":"客厅-数据分组","func":"node.status({text: `最后更新:${new Date().toLocaleTimeString('zh-cn',{timeZone: \"Asia/Chongqing\"})}`})\nreturn [\n  {payload: msg.payload.temperature},\n  {payload: msg.payload.humidity},\n  {payload: msg.payload.value},\n  {payload: msg.payload.hcho}\n]","outputs":4,"noerr":0,"x":1639,"y":472,"wires":[["72df628b.a58adc"],["ac21f3f4.2f61a"],["23b61394.6acc2c"],["125adb53.5a8715"]]},{"id":"6edf36db.dd7798","type":"comment","z":"2d390cfb.9ba554","name":"斐讯M1内网NR帮助","info":"### 内网劫持\n\n使用dnsmasq劫持`aircat.phicomm.com`到你NodeRed所在IP\n\n```\naddress=/.aircat.phicomm.com/192.168.200.202\n```\n\n[教程](https://bbs.hassbian.com/thread-6746-1-1.html)","x":1419,"y":52,"wires":[]},{"id":"1309d19c.d1404e","type":"link in","z":"2d390cfb.9ba554","name":"次卧M1-out","links":["8389ff35.e54e7"],"x":1430,"y":677,"wires":[["2639e960.7e3336"]]},{"id":"50cb7500.fdd0cc","type":"ui_text","z":"2d390cfb.9ba554","group":"a17595d1.02a308","order":3,"width":"6","height":"1","name":"PM2.5","label":"PM2.5","format":"{{msg.payload}} μg/m³","layout":"row-spread","x":1975,"y":737,"wires":[]},{"id":"e4a39b4e.dd98a8","type":"ui_text","z":"2d390cfb.9ba554","group":"a17595d1.02a308","order":4,"width":"6","height":"1","name":"甲醛","label":"甲醛","format":"{{msg.payload}} mg/m³","layout":"row-spread","x":1975,"y":777,"wires":[]},{"id":"5efac7d5.c5ec58","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"a17595d1.02a308","order":1,"width":"3","height":"2","gtype":"gage","title":"温度","label":"°C","format":"{{value}}","min":"-50","max":"50","colors":["#0080c0","#00ff00","#ca3838"],"seg1":"19","seg2":"26","x":1975,"y":657,"wires":[]},{"id":"d7115cda.b9a99","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"a17595d1.02a308","order":2,"width":"3","height":"2","gtype":"gage","title":"湿度","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0080ff","#0080c0","#000080"],"seg1":"40","seg2":"70","x":1975,"y":697,"wires":[]},{"id":"2639e960.7e3336","type":"function","z":"2d390cfb.9ba554","name":"次卧-数据分组","func":"node.status({text: `最后更新:${new Date().toLocaleTimeString('zh-cn',{timeZone: \"Asia/Chongqing\"})}`})\nreturn [\n  {payload: msg.payload.temperature},\n  {payload: msg.payload.humidity},\n  {payload: msg.payload.value},\n  {payload: msg.payload.hcho}\n]","outputs":4,"noerr":0,"x":1635,"y":677,"wires":[["5efac7d5.c5ec58"],["d7115cda.b9a99"],["50cb7500.fdd0cc"],["e4a39b4e.dd98a8"]]},{"id":"8389ff35.e54e7","type":"link out","z":"2d390cfb.9ba554","name":"次卧M1-in","links":["1309d19c.d1404e"],"x":1951.0000534057617,"y":184.00000190734863,"wires":[]},{"id":"f65c8371.a2d99","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"总开关","tooltip":"","group":"3dc0b4eb.272acc","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"68:C6:3A:A5:9F:18_0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":521,"y":853,"wires":[["87171d98.f43fe"]]},{"id":"1e18c169.b333cf","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"无线充电","tooltip":"","group":"3dc0b4eb.272acc","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"68:C6:3A:A5:9F:18_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":531,"y":898,"wires":[["87171d98.f43fe"]]},{"id":"da95dc65.c93ed","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"苹果","tooltip":"","group":"3dc0b4eb.272acc","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"68:C6:3A:A5:9F:18_2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":521,"y":943,"wires":[["87171d98.f43fe"]]},{"id":"192317bc.43ae68","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"小米","tooltip":"","group":"3dc0b4eb.272acc","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"68:C6:3A:A5:9F:18_3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":521,"y":988,"wires":[["87171d98.f43fe"]]},{"id":"8a0b0a93.f13618","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"3dc0b4eb.272acc","order":5,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":521,"y":1033,"wires":[]},{"id":"8fed5a39.fa2fe8","type":"link in","z":"2d390cfb.9ba554","name":"玄关DC1-out","links":["5cea32f4.7487ec"],"x":96,"y":883,"wires":[["cf7858e9.cd1c58"]]},{"id":"c4c7c982.7e7028","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"3dc0b4eb.272acc","order":6,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":521,"y":1078,"wires":[]},{"id":"87171d98.f43fe","type":"join","z":"2d390cfb.9ba554","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":722,"y":874,"wires":[["3ca152ff.a6acfe"]]},{"id":"3ca152ff.a6acfe","type":"link out","z":"2d390cfb.9ba554","name":"斐讯DC1-控制in","links":["20e588e0.b96538"],"x":816,"y":853,"wires":[]},{"id":"cf7858e9.cd1c58","type":"function","z":"2d390cfb.9ba554","name":"玄关-数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"x":251,"y":883,"wires":[["f65c8371.a2d99"],["1e18c169.b333cf"],["da95dc65.c93ed"],["192317bc.43ae68"],["8a0b0a93.f13618"],["c4c7c982.7e7028"]]},{"id":"5cea32f4.7487ec","type":"link out","z":"2d390cfb.9ba554","name":"玄关DC1-in","links":["8fed5a39.fa2fe8"],"x":682.1000595092773,"y":132.00000190734863,"wires":[]},{"id":"57b6c2fd.99931c","type":"link out","z":"2d390cfb.9ba554","name":"次卧DC1-in","links":["2f9dea7a.01e476"],"x":735.0000114440918,"y":150.00000190734863,"wires":[]},{"id":"7e53bccf.65b014","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"总开关","tooltip":"","group":"2d5453de.3ab8ac","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"5C:CF:7F:55:E4:8F_0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":1156,"wires":[["8ec8a31b.0d514"]]},{"id":"4e1b45f4.68ebbc","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"天猫精灵","tooltip":"","group":"2d5453de.3ab8ac","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"5C:CF:7F:55:E4:8F_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":1201,"wires":[["8ec8a31b.0d514"]]},{"id":"8b6c8976.bd6468","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"开关二","tooltip":"","group":"2d5453de.3ab8ac","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"5C:CF:7F:55:E4:8F_2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":1246,"wires":[["8ec8a31b.0d514"]]},{"id":"3e85d3f8.a675fc","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"M1","tooltip":"","group":"2d5453de.3ab8ac","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"5C:CF:7F:55:E4:8F_3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":1291,"wires":[["8ec8a31b.0d514"]]},{"id":"2d80f131.a6619e","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"2d5453de.3ab8ac","order":5,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1336,"wires":[]},{"id":"2f9dea7a.01e476","type":"link in","z":"2d390cfb.9ba554","name":"次卧DC1-out","links":["57b6c2fd.99931c"],"x":85,"y":1186,"wires":[["fc51d016.2d243"]]},{"id":"2c1b445c.e0a0dc","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"2d5453de.3ab8ac","order":6,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1381,"wires":[]},{"id":"8ec8a31b.0d514","type":"join","z":"2d390cfb.9ba554","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":1156,"wires":[["798db3b7.427dbc"]]},{"id":"798db3b7.427dbc","type":"link out","z":"2d390cfb.9ba554","name":"斐讯DC1-控制in","links":["20e588e0.b96538"],"x":805,"y":1156,"wires":[]},{"id":"fc51d016.2d243","type":"function","z":"2d390cfb.9ba554","name":"次卧-数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"x":240,"y":1186,"wires":[["7e53bccf.65b014"],["4e1b45f4.68ebbc"],["8b6c8976.bd6468"],["3e85d3f8.a675fc"],["2d80f131.a6619e"],["2c1b445c.e0a0dc"]]},{"id":"6bb2a7b9.59aed8","type":"tcp out","z":"2d390cfb.9ba554","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"控制TCP","x":1792,"y":192,"wires":[]},{"id":"54bf8401.8fd4fc","type":"link in","z":"2d390cfb.9ba554","name":"HA-DC1-out","links":["528e8a3d.ddcd64","f175d62c.237db8","b50108e9.fbff88"],"x":1050,"y":200,"wires":[["ea0134bc.3bd378"]]},{"id":"8ef1748a.6f5878","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"总开关","tooltip":"","group":"c18ec075.0ac41","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:74:5B_0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":516,"y":1507,"wires":[["b0a9c7c2.7b0898"]]},{"id":"24ffcd1e.44c762","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"一","tooltip":"","group":"c18ec075.0ac41","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:74:5B_1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":516,"y":1552,"wires":[["b0a9c7c2.7b0898"]]},{"id":"deecf4e9.e543e8","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"开关二","tooltip":"","group":"c18ec075.0ac41","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:74:5B_2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":516,"y":1597,"wires":[["b0a9c7c2.7b0898"]]},{"id":"731a5312.9f155c","type":"ui_switch","z":"2d390cfb.9ba554","name":"","label":"三","tooltip":"","group":"c18ec075.0ac41","order":4,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"84:F3:EB:55:74:5B_3","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":516,"y":1642,"wires":[["b0a9c7c2.7b0898"]]},{"id":"4a3d33d0.4d486c","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"c18ec075.0ac41","order":5,"width":"3","height":"2","gtype":"gage","title":"电压","label":"V","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":516,"y":1687,"wires":[]},{"id":"38b1d803.f496d8","type":"link in","z":"2d390cfb.9ba554","name":"DC5-out","links":["408a16e4.648e58"],"x":91,"y":1537,"wires":[["7fe87c97.d58f54"]]},{"id":"690dee37.996b7","type":"ui_gauge","z":"2d390cfb.9ba554","name":"","group":"c18ec075.0ac41","order":6,"width":"3","height":"2","gtype":"gage","title":"功率","label":"W","format":"{{value}}","min":"100","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":516,"y":1732,"wires":[]},{"id":"b0a9c7c2.7b0898","type":"join","z":"2d390cfb.9ba554","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":716,"y":1507,"wires":[["84eb1abb.19d448"]]},{"id":"84eb1abb.19d448","type":"link out","z":"2d390cfb.9ba554","name":"斐讯DC1-控制in","links":["20e588e0.b96538"],"x":811,"y":1507,"wires":[]},{"id":"7fe87c97.d58f54","type":"function","z":"2d390cfb.9ba554","name":"DC5-数据分组","func":"node.status({text:`当前状态:${msg.sw_2}(${msg.uuid})`})\nnode.send([\n  Object.assign({}, msg, {payload: (msg.sw_10 & 1) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 2) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 4) > 0}),\n  Object.assign({}, msg, {payload: (msg.sw_10 & 8) > 0}),\n  Object.assign({}, msg, {payload: msg.payload.result.V}),\n  Object.assign({}, msg, {payload: msg.payload.result.P}),\n])","outputs":6,"noerr":0,"x":252,"y":1540.0000228881836,"wires":[["8ef1748a.6f5878"],["24ffcd1e.44c762"],["deecf4e9.e543e8"],["731a5312.9f155c"],["4a3d33d0.4d486c"],["690dee37.996b7"]]},{"id":"408a16e4.648e58","type":"link out","z":"2d390cfb.9ba554","name":"DC5-in","links":["38b1d803.f496d8"],"x":799.0000123977661,"y":175.00000190734863,"wires":[]},{"id":"413b630a.b4dd6c","type":"debug","z":"2d390cfb.9ba554","name":"ham1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2025,"y":226,"wires":[]},{"id":"12144491.1e649b","type":"function","z":"2d390cfb.9ba554","name":"信息拆分","func":"//获取mqtt信息并截取[mac,num,power]\nlet stat = msg.payload.split(',');\n// mac地址\nmsg.uuid = stat[0];\n// 开关位置\nmsg.num = stat[1];\n// 开关\nmsg.power = stat[2];\nreturn msg;","outputs":1,"noerr":0,"x":301.00000190734863,"y":2155.0000286102295,"wires":[["73cbf1c7.f3a2b"]]},{"id":"73cbf1c7.f3a2b","type":"function","z":"2d390cfb.9ba554","name":"状态转换","func":"/* --------获取之前状态-------- */\n// 根据mac获取排插信息\nlet old = flow.get(`STATUS_${msg.uuid}`).sw_10\n// 十进制转换为为boolean数组\nlet sw = [ (old & 1) > 0,(old & 2) > 0,(old & 4) > 0,(old & 8) > 0];\n\n/* --------转换新状态-------- */\n// 替换控制排插状态\n// msg.power\nsw[msg.num] = msg.power==='false'?false:true;\n// 新状态转换为十进制\nmsg.payload = 0;\nfor(var i = 0 ;i<sw.length;i++){\n   msg.payload+=sw[i]*Math.pow(10,i)\n}\n//返回排插控制状态\nreturn msg;","outputs":1,"noerr":0,"x":462.99995040893555,"y":2156.0000286102295,"wires":[["b21219a7.e925e8"]]},{"id":"b21219a7.e925e8","type":"function","z":"2d390cfb.9ba554","name":"发送控制","func":"// 如果没有uuid过来说明是从开关控制过来的\n//if (!msg.uuid) {\n// 获取mac地址\n  const uuid = msg.uuid;\n  // 获取之前状态\n  const json = flow.get(`STATUS_${uuid}`)\n  // 获取新状态\n  const new_status = msg.payload;\n  // 输出\n  node.status({ text: `排插(${uuid}):${msg.num}${msg.power==='false'?'关':'开'}` })\n  //发送控制信息\n  json.payload = `{\"action\":\"datapoint=\",\"params\":{\"status\": ${new_status} },\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n  json.payload = `{\"action\":\"datapoint\",\"params\":{},\"uuid\":\"${uuid}\",\"auth\":\"\"}\\n`\n  node.send(json)\n//}","outputs":1,"noerr":0,"x":613.8999061584473,"y":2158.0000286102295,"wires":[["b50108e9.fbff88"]]},{"id":"b50108e9.fbff88","type":"link out","z":"2d390cfb.9ba554","name":"HA-DC1-MQTT-in","links":["54bf8401.8fd4fc"],"x":742.4001054763794,"y":2157.000027656555,"wires":[]},{"id":"85e09506.612f38","type":"mqtt in","z":"2d390cfb.9ba554","name":"排插控制","topic":"phicomm/dc1/power","qos":"0","broker":"a1965318.19941","x":134.99992752075195,"y":2157.0000257492065,"wires":[["12144491.1e649b"]]},{"id":"2c718be.93f1e74","type":"comment","z":"2d390cfb.9ba554","name":"mqtt格式","info":"### 控制\n> phicomm/dc1/power\n\n参数格式:mac,控制位置,开关\n```\n84:F3:EB:55:74:5B,1,true\n```\n\n### 状态获取\n> phicomm/dc1/stat/mac后两位\n\n返回json\n```json\n \"payload\": {\n    \"uuid\": \"DC:4F:22:04:8E:7C\",\n    \"status\": 200,\n    \"result\": {\n      \"status\": 1001,\n      \"I\": 50,\n      \"V\": 231,\n      \"P\": 3\n    },\n    \"msg\": \"get datapoint success\",\n    \"sw0\": true,\n    \"sw1\": false,\n    \"sw2\": false,\n    \"sw3\": true,\n    \"v\": 231,\n    \"p\": 3\n  }\n```","x":129.10000228881836,"y":2099.000027656555,"wires":[]},{"id":"1be3eb0b.dfeea5","type":"link out","z":"2d390cfb.9ba554","name":"HA-DC1-stat-out","links":["9780204a.aebf5","4e35c60e.cf2ea8"],"x":385.1000051498413,"y":198.00000286102295,"wires":[]},{"id":"429e83bb.2e1b8c","type":"function","z":"2d390cfb.9ba554","name":"状态转换","func":"//转换mac地址\nlet topic = `phicomm/dc1/stat`\nlet mac = msg.uuid.substr(-2);\n/* --------获取排插状态-------- */\nvar msg0 ={\n\tpayload : ((msg.sw_10 & 1) > 0)?'ON':'OFF',\n\ttopic : `${topic}/sw0/${mac}`\n}\nvar msg1 ={\n\tpayload : ((msg.sw_10 & 2) > 0)?'ON':'OFF',\n\ttopic : `${topic}/sw1/${mac}`\n}\nvar msg2 ={\n\tpayload : ((msg.sw_10 & 4) > 0)?'ON':'OFF',\n\ttopic : `${topic}/sw2/${mac}`\n}\nvar msg3 ={\n\tpayload : ((msg.sw_10 & 8) > 0)?'ON':'OFF',\n\ttopic : `${topic}/sw3/${mac}`\n}\nmsg.payload.v = msg.payload.result.V;\nmsg.payload.p = msg.payload.result.P;\nmsg.topic = `${topic}/${mac}`;\nreturn [msg,msg0,msg1,msg2,msg3];","outputs":5,"noerr":0,"x":223.89999771118164,"y":2249.0000314712524,"wires":[["45d8e893.a17dd8"],["45d8e893.a17dd8"],["45d8e893.a17dd8"],["45d8e893.a17dd8"],["45d8e893.a17dd8"]],"outputLabels":["状态","SW0","SW1","SW2","SW3"]},{"id":"4e35c60e.cf2ea8","type":"link in","z":"2d390cfb.9ba554","name":"HA-DC1-stat-in","links":["1be3eb0b.dfeea5"],"x":95.99999713897705,"y":2250.000029563904,"wires":[["429e83bb.2e1b8c"]]},{"id":"45d8e893.a17dd8","type":"mqtt out","z":"2d390cfb.9ba554","name":"排插状态","topic":"","qos":"0","retain":"true","broker":"a1965318.19941","x":452.0000991821289,"y":2249.000029563904,"wires":[]},{"id":"7cf83781.d9bf78","type":"comment","z":"2d390cfb.9ba554","name":"HA配置","info":"```yaml\nswitch:\n# dc1-主卧\n  - platform: mqtt\n    name: \"dc5\"\n    state_topic: \"phicomm/dc1/stat/sw0/5B\"\n    command_topic: \"phicomm/dc1/power\"\n    payload_on: \"84:F3:EB:55:74:5B,0,true\"\n    payload_off: \"84:F3:EB:55:74:5B,0,false\"\n    state_on: \"ON\"\n    state_off: \"OFF\"\n  - platform: mqtt\n    name: \"dc5_s1\"\n    state_topic: \"phicomm/dc1/stat/sw1/5B\"\n    command_topic: \"phicomm/dc1/power\"\n    payload_on: \"84:F3:EB:55:74:5B,1,true\"\n    payload_off: \"84:F3:EB:55:74:5B,1,false\"\n    state_on: \"ON\"\n    state_off: \"OFF\"    \n  - platform: mqtt\n    name: \"dc5_s2\"\n    state_topic: \"phicomm/dc1/stat/sw2/5B\"\n    command_topic: \"phicomm/dc1/power\"\n    payload_on: \"84:F3:EB:55:74:5B,2,true\"\n    payload_off: \"84:F3:EB:55:74:5B,2,false\"\n    state_on: \"ON\"\n    state_off: \"OFF\"\n  - platform: mqtt\n    name: \"dc5_s3\"\n    state_topic: \"phicomm/dc1/stat/sw3/5B\"\n    command_topic: \"phicomm/dc1/power\"\n    payload_on: \"84:F3:EB:55:74:5B,3,true\"\n    payload_off: \"84:F3:EB:55:74:5B,3,false\"\n    state_on: \"ON\"\n    state_off: \"OFF\"\nsensor:\n  - platform: mqtt\n    name: dc5_v\n    state_topic: \"phicomm/dc1/stat/5B\"\n    unit_of_measurement: 'V'\n    value_template: \"{{ value_json.v }}\"\n  - platform: mqtt\n    name: dc5_p\n    state_topic: \"phicomm/dc1/stat/5B\"\n    unit_of_measurement: 'W'\n    value_template: \"{{ value_json.p }}\"\n\n```","x":274.1000061035156,"y":2100,"wires":[]},{"id":"f4175e3.8c33ca","type":"ui_group","z":"","name":"主卧DC1","tab":"f9c47a29.df0108","order":2,"disp":true,"width":"6","collapse":false},{"id":"519e1ae8.7b4764","type":"ui_group","z":"","name":"书房DC1","tab":"f9c47a29.df0108","order":1,"disp":true,"width":"6","collapse":false},{"id":"53849ee1.0611d","type":"ui_group","z":"","name":"客厅","tab":"4535d250.aebbac","order":5,"disp":true,"width":"6","collapse":false},{"id":"beacf0b6.f1ec8","type":"ui_group","z":"","name":"主卧","tab":"4535d250.aebbac","order":4,"disp":true,"width":"6","collapse":false},{"id":"a17595d1.02a308","type":"ui_group","z":"","name":"次卧","tab":"4535d250.aebbac","disp":true,"width":"6","collapse":false},{"id":"3dc0b4eb.272acc","type":"ui_group","z":"","name":"玄关DC1","tab":"f9c47a29.df0108","disp":true,"width":"6","collapse":false},{"id":"2d5453de.3ab8ac","type":"ui_group","z":"","name":"次卧DC4","tab":"f9c47a29.df0108","disp":true,"width":"6","collapse":false},{"id":"c18ec075.0ac41","type":"ui_group","z":"","name":"DC5","tab":"f9c47a29.df0108","disp":true,"width":"6","collapse":false},{"id":"a1965318.19941","type":"mqtt-broker","z":"","name":"88-MQTT","broker":"10.0.0.88","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f9c47a29.df0108","type":"ui_tab","z":"2d390cfb.9ba554","name":"斐讯DC1","icon":"switch","order":2,"disabled":false,"hidden":false},{"id":"4535d250.aebbac","type":"ui_tab","z":"","name":"斐讯M1","icon":"dashboard","disabled":false,"hidden":false}]